%h2 Getting stroooonger
%br

= form_tag change_weights_path do
  - @statuses.each do |status|
    .status
      = link_to ">>", "#", class: "btn btn-large increase pull-right"
      = link_to "<<", "#", class: "btn btn-large decrease pull-left"
      %table.status-field
        %tr
          %td.name
            = status.exercise.name + ":"
          %td
            = hidden_field_tag "statuses[#{status.id}]", status.current
            %span.current= status.current
  %br
  = submit_tag "Done", :class => "btn btn-large btn-success pull-right"

= link_to "Cancel", :back

:css
  .status {
    height: 40px;
    line-height: 40px;
  }
  .status-field {
    margin-left: 70px;
  }
  .current {
    font-weight: bold;
    font-size: 1.2em;
  }
  .name {
    width: 170px;
  }
