<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name, :html => {class: "well"})) do |f| %>
	<%# f.label :email %>
	<%= f.email_field :email, placeholder: "Email address" %><br />
	<%# f.label :password %>
	<%= f.password_field :password, placeholder: "Password" %>
	<% if devise_mapping.rememberable? -%>
		<label class="checkbox">
			<%= f.check_box :remember_me %> Remember me
		</label>
	<% end -%>
	<div><%= f.submit "Sign in", class: "btn btn-large" %></div>
<% end %>

<%= render "devise/shared/links" %>
